{% extends "layout.html"%}

{% load static %}

{% block body%}

<!-- section -1 Introduction -->
<div class="container">
  <img src="{% static 'C:\Users\rafiu\New_project\static\images\Rafiul Islam.png' %} " class="rounded mx-auto d-block w-25 p-3" alt="My image">
  <h1 class="text-center">Rafiul Islam</h1>
  <p>I am a passionate person and love to meet
    new people. I love to put myself in
    difficult situations to bring out my best.
    Besides that, I am also a person who has a
    high willingness to learn new things.</p>

</div>
<!-- section -1 Introduction -->

<!-- Section-2 Work Experience -->
<div class="container mt-5">
  <div class="card">
      <div class="card-header">
          <h3>Work Experience</h3>
      </div>
      <div class="card-body">
          <h5>Bangladesh Red Crescent Society</h5>
          <strong>2021-Present</strong>
          <p class="card-text">Volunteer</p>
      </div>

      <div class="card-body">
          <h5>Chissha</h5>
          <strong>2019-Present</strong>
          <p class="card-text">Co-Owner & Graphics Designer</p>
      <div>
  </div>          
</div>
<!-- Section-2 Work Experience -->

<!-- Section-3 Skills -->
<div class="container mt-5">
  <div class="card">
      <div class="card-header">
          <h3>Skills</h3>
      </div> 
      <div class="card-body">
          <div class="row">
              <div class="col">
                  <h5>Language</h5>
              <ul>
                  <li>C</li>
                  <li>Java</li>
                  <li>Python</li>
              </ul>
              </div>
              <div class="col">
                  <h5>Software Skills</h5>
              <ul>
                  <li>Adobe Photoshop</li>
                  <li>Adobe premiere pro</li>
                  <li>Adobe Lightroom</li>
                  <li>Canva</li>
                  <li>Figma</li>
                  <li>Adobe XD</li>            
              </ul>
              </div>
              <div class="col">
                  <h5>Soft Skills</h5>
              <ul>
                  <li>Graphics Design</li>                      
                  <li>UI/UX Design</li>
                  <li>Web Development</li>
              </ul>
          </div>
      </div>
      </div>                   
      </div>       
  </div>      
</div>
<!-- Section-3 Skills -->

{% endblock %}